html { box-sizing: border-box; font-size: 16px; height: 100%; }
*, *:before, *:after { box-sizing: inherit; }
a { text-decoration: none;}

body { background-color: #dadada; font-family: sans-serif; }
.strikethrough { text-decoration: line-through; }

.modal {

    display: none; z-index: 10000; width: 100%; height: 100%; text-align: center; background-color: rgba(0, 0, 0, 0.5); position: absolute; left: 0; top: 0; backdrop-filter: blur(4px);

    .modal-content {
        display: block; background-color: #FFF; margin: 0 auto; padding: 2em; text-align: left; position: relative; top: 32px; width: 90%; box-shadow: 0 16px 24px #3d3d3d; border-radius: 8px; border: 1px solid #AAA;
    
        h2 { max-width: 90%; }
        p:last-of-type { margin-bottom: 0; }
    
        .close-modal { display: block; position: absolute;  right: 1em; top: 1em; font-size: 20px; color: #000; }
    }
}

select, input, textarea { display: block; width: 100%; padding: 0.75em; border: 1px solid #AAA; border-radius: 4px; box-shadow: inset 2px 2px 2px #e4e4e4; }
input[type="checkbox"] { display: inline; width: auto; box-shadow: none; vertical-align: middle; position: relative; bottom: 1px; }
textarea { width: 100%; height: 200px; padding: 1em; }

h2 { padding: 0; margin: 0 0 0.75em 0; }
h6 { font-size: 1.25em; text-align: center;padding: 0.5em 0; background-color: #c5c5c5; color: #515151; border-radius: 8px; }

.header { text-align: center; padding-bottom: 2em; }

.checklist-toggle { text-align: center; padding: 0 0 1em 0; }

.btn, input[type="submit"] { padding: 0.75em 2em; box-shadow: 0 2px 0 #303030; border-radius: 3px; border: 0;  font-weight: bold; background-color: #f5f5f5; color: #222222; cursor: pointer; }
.btn.primary { background-color: #219bc0; color: #FFF; text-shadow: 1px 1px 0 #000; box-shadow: 0 2px 0 #0d4455; width: auto; display: inline-block; }
.btn.small { padding: 0.25em 1em; }
.btn:active, input[type="submit"]:active { position: relative; top: 2px; box-shadow: none; }

.add-text {
    margin: 2em 0; padding: 1em; background-color: #bdbdbd; border-radius: 4px; box-shadow: 0 4px 16px #686868; label { margin: 0 0 0.25em 0; }
    input[type="text"] { margin: 0 0 0.5em 0; }

}

.entry { 
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    .button-container { min-width: 120px; }

    .text-item-copy-button { width: 100%; }

}

.display-container.checklist-done .text-item-copy-button { color: #CCC; box-shadow: 0 2px 0 #CCC; }
.display-container.checklist-done .text-item { text-decoration: line-through; }
.edit-container { display: none; }
.edit-container input[type="text"] { width: 85%; display: inline-block; margin-right: 1em; }
.text-item { cursor: pointer; font-size: 1.25em; padding: 0 1em; }

.library-list {
    margin: 1em 0;
    padding: 0em;

    li { list-style-type: none; margin: 0 0 2em 0; }

}

.library-empty { text-align: center; font-size: 1.25em; padding: 1em 0; }

.main-menu { 
    margin: 1em 0;
    padding: 0em;

    li {
        list-style-type: none;
        margin: 0 0 1em 0;

        a { display: block; padding: 1.5em; background-color: #FFF; border-radius: 4px; box-shadow: 2px 2px 1px #868686; color: #000; }
        a:hover { background-color: #fafafa; }
        a:active { position: relative; top: 2px; left: 1px; box-shadow: 1px 1px 1px #868686; }
        a:visited { color: #000; }
        h3 { margin: 0; padding: 0 0 0.25em; font-size: 20px; }
        p { margin: 0; padding: 0; }
    }

}

.submenu { display: block; padding: 1em 0; clear: both; }

